@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0300;0,400;0,700;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;400;600;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
body, html {
    padding-top: 40px;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    letter-spacing: 1.5px;
}

p {
    font-size: small;
    letter-spacing: 2px;
    line-height: 20px;
}

h1, h2, h3, h4, h5 {
    color: #333F50;
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    word-spacing: 10px;
}

.navbar {
    height: 90px;
    background-color: #333F50;
}

.nav-logo {
    background-color: white;
    height: 90px;
    width: 400px;
    border-right: 10px solid lightgray;
}

.btn-primary {
    background-color: #333F50;
    border: none;
}

.btn-primary:hover {
    background-color: #333F50;
    box-shadow: 0px 0px 0px 2px #333F50;
}

.myBorder {
    border-top: 4px solid #333F50;
    border-radius: 50px;
    width: 80px;
}

.myBorder-title {
    border-top: 8px solid #333F50;
    border-radius: 10px;
    width: 250px;
}

.title {
    text-align: center;
    margin-bottom: 60px;
}

.title h1 {
    font-size: 3.1rem;
}

.card {
    /* width: 300px; */
    border: none;
}

.card-img-top {
    width: 100%;
    height: 200px;
}

.card-body {
    background-color: #F5F5F5;
    border-radius: 0px 0px 10px 10px;
    transition: all .3s;
    /* border-style: none solid solid solid;
    border-width: 1px;
    border-color: rgb(235, 233, 233); */
}

.card-body:hover {
    box-shadow: 0px 4px #333F50;
    transition: all .3s;
}

.parallax {
    /* The image used */
    background-image: radial-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url("https://www.zurich.com/-/media/project/zurich/dotcom/media/magazine/2020/images/stage-construction-site.jpg?h=1250&la=en&w=2500&rev=131eb9d7dd544a998f988d6dc377594f&hash=E73E34B9EAE574B59321F090229F16A6");
    background-color: rgba(0, 0, 0, 0);
    /* Full height */
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax1 {
    /* The image used */
    background-image: radial-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url("./IMGL3509.JPG");
    background-color: rgba(0, 0, 0, 0);
    /* Full height */
    height: 400px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero {
    color: white;
    height: 100vh;
    padding-top: 100px;
}

.hero h1 {
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    letter-spacing: 7px;
    word-spacing: 10px;
    font-size: 4rem;
}

.section {
    padding-top: 80px;
    /* padding-left: 200px;
    padding-right: 200px; */
    padding-bottom: 80px;
}

.about-us {
    z-index: -1;
    overflow: hidden;
    padding: 0;
}

.stat {
    padding-top: 30px;
    padding-bottom: 30px;
    /* padding-left: 200px;
    padding-right: 200px; */
    color: white;
    background-color: #333F50;
}

.stat h1 {
    font-size: 1.2rem;
    color: white;
}

.stat-small {
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
    background-color: #333F50;
}

.stat-small h1 {
    color: white;
    font-size: 2.5rem;
}

.bg-clear {
    background-color: #FFFFFF;
}

.bg-darks {
    background-color: #F5F5F5;
}

.services-img {
    height: 500px;
    object-fit: cover;
}

@media (max-width: 575.98px) {
    .hero h1 {
        color: white;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 700;
        letter-spacing: 7px;
        word-spacing: 10px;
        line-height: 4rem;
        font-size: 2.3rem;
    }
    .stat {
        display: none;
    }

    .nav-logo {
        background-color: white;
        height: 90px;
        width: 250px;
        border-right: 10px solid lightgray;
    }

    .nav-logo img {
        height: 45px;
    }
}

@media (min-width: 576px) {
    .stat-small {
        display: none;
    }
    
}