@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0300;0,400;0,700;1,500&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
body,
html {
    height: 100%;
    padding-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    letter-spacing: 1.5px;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    word-spacing: 10px;
}

.myBorder {
    border-top: 4px solid rgb(146, 146, 146);
    border-radius: 50px;
    width: 80px;
}

.navbar {
    height: 90px;
}

.card {
    max-width: 300px;
    border: none;
}

.card-img-top {
    width: 100%;
    height: 200px;
}

.card-body {
    border-style: none solid solid solid;
    border-width: 1px;
    border-color: rgb(235, 233, 233);
}

.parallax {
    /* The image used */
    background-image: radial-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url("https://www.zurich.com/-/media/project/zurich/dotcom/media/magazine/2020/images/stage-construction-site.jpg?h=1250&la=en&w=2500&rev=131eb9d7dd544a998f988d6dc377594f&hash=E73E34B9EAE574B59321F090229F16A6");
    background-color: rgba(0, 0, 0, 0);
    /* Full height */
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax1 {
    /* The image used */
    background-image: radial-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url("./parallaximg2.png");
    background-color: rgba(0, 0, 0, 0);
    /* Full height */
    height: 100vh;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero {
    color: white;
    height: 100vh;
    padding-top: 200px;
}

.hero h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    letter-spacing: 7px;
    word-spacing: 10px;
    font-size: 4rem;
}

.section {
    padding-top: 80px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 80px;
}

.about-us {
    z-index: -1;
    overflow: hidden;
    max-height: 100vh;
}